@namespace url(http://www.w3.org/1999/xhtml);

/* First created: 2012-05-29 UTC-04:00
 * Last modified: 2012-06-13T13:04:13 UTC-04:00
 * DocumentName: CygML.UserStyle.css
 * DocumentType: text/css
 * StylishName: "Cygwin Mailing List Restyle"
 * DirectPurpose: restyle the presentational characteristic (for
 * screen media) of documents viewed in Firefox (and related
 * browsers) under URI www.cygwin.com/ml/
 * AuthorAndCopyrightHolder: Sören Andersen
 * Email: <somian08@gmail.com>
 * HomePage: https://github.com/somian/FFx-userstyles (GitHub repository)
 * SrcKitArchive: https://github.com/somian/FFx-userstyles/zipball/master
 * LicenseAndWarrantyDisclaimer: see bottom of document.
 */

@-moz-document url-prefix("http://cygwin.com/ml/"),
               url-prefix("http://www.cygwin.com/ml/"),
               url-prefix("http://sourceware.org/ml/"),
               url-prefix("http://www.sourceware.org/ml/")
{
  body
    {            margin-top : 0px      !important;
              margin-bottom : 0px      !important;
                      color : #C0C0C0  !important;
           background-color : #000     !important;
                    z-index : 0;
    }
  p tt
    {
       font-family  : "dejavu sans mono", monospace  !important;
    }

  body hr
    {
        background-color : #000 !important;
                   color : #A35 !important;
      margin : 1px 0px 1px -1em !important;
              padding : 0px 0px !important;
    }


  body p:first-of-type + hr
    {
        display : none !important;
    }

/* Top of Web-page ID paragraph ("cygwin@cygwin.com") */
  body p:first-of-type
    {
                  color : rgb(228,154,94)  !important;
       background-color : #000     !important;
                z-index : 4        !important;
              font-size : large    !important;
            text-shadow : 0 0 0.2em #41F,
                          0 0 0.4em #10A,
                          0 0 0.6em #FF0 ;

                 margin : 0px      !important;
            margin-left : -2ex     !important;
        margin-bottom   : 0.3ex    !important;

           padding-left :   20%    !important;
           padding-top  :   2px    !important;
         padding-bottom : 2px    !important;
    }
  body p:first-of-type a:link,
  body p:first-of-type a:visited
    {
        color   : #AF6900 !important;
    }

  body p a:link,
  body p a:visited,
  h1 + ul a:link,
  h1 + ul a:visited,
  body ul:last-of-type a:link
    {
        color   : rgb(176,156,98) !important;
    }

  h1 + ul a:link:active,
  body ul:last-of-type a:link:active,
  h1 + ul a:link:hover,
  body ul:last-of-type a:link:hover
    {
        color   : rgb(200,188,68) !important;
    }
  body ul:last-of-type a:link
    {
        color   : rgb(246,156,98) !important;
    }

  body ul:last-of-type a:visited
    {
        color   : rgb(176,156,98)  !important;
    }


  body > ul:last-of-type a:link:after
    {
        content : " ×" !important;
        color   : rgb(176,254,98)  !important;
    }
  body ul:last-of-type a:visited:after,  /* not working in FFx on M$Wind*ws currently */
  body ul:last-of-type a:visited:hover:after
    {
        content : " ✓" !important;
        color   : rgb(176,254,98)  !important;
    }


  h1 + ul > li a
    {
        font-family : monospace !important;
    }

 /* headers and footers */
  body > h1 + ul,
  body ul:last-of-type
    {
                   color : #FFF !important;
        background-color : rgba(10,0,10,20) !important; /* rgb(14,46,26) !important; /* rgb(176, 169, 133) */
             margin-left : -3.5ex !important;

    }

  body > h1 + ul
    {
             font-family : "Adobe Minion Web",
                           "Minion Web",
                           "DejaVu Sans Condensed",
                           Ubuntu,
                           Calibri,
                           sans-serif;
               min-width : 95%   !important;
             font-size   : 8pt   !important;
                   color : #FFF  !important;
                 display : inline-block !important;
                 z-index : -1 !important;
    }
  body ul:last-of-type
    {
               clear : left !important;
       margin-bottom : 0px !important;
            position : relative;
             z-index : 0 !important;
    }

  body ul:last-of-type li
    {
           padding : 0.2ex 0 0.1ex 0;
    }
  body ul:last-of-type a
    {
        text-decoration : none !important;
           z-index : 3 !important;
    }

       hr + ul > li > ul > li > ul > li,
  hr + ul + ul > li > ul > li > ul > li
    {
        list-style-type : none  !important;
    }


/* Main Subject / Topic Header */
  body > h1
    {
           font-size  :  18pt  !important;
       padding-bottom : 0px !important;
        margin-bottom : 0px !important;
              z-index : 8   !important;
    }

 /* Cygwin List Boilerplate (inserted in list submissions) */
  h1 + ul + hr + pre a:link,
  ul + hr ~ tt a:link,
  ul + hr ~ tt + p >strong>a:link
    {
                color : #2E8B57 !important;
      text-decoration : none    !important;
    }
  h1 + ul + hr + pre a:visited,
  ul + hr ~ tt a:visited,
  ul + hr ~ tt + p >strong>a:visited

    {
                color : #707000 !important;
      text-decoration : none    !important;
    }
  h1 + ul + hr + pre,  /* the main email message text */
  ul + hr ~ tt         /* ~ is "the general sibling combinator" (CSS-3) */
    {
        margin-left  : 6ex       !important;
         white-space : pre-wrap  !important;
               color : rgb(133,169,73)   !important;  /* too dim: #556B2F */
    background-color : #000      !important;
    }

  h1 + ul + hr + pre a:nth-last-child(-n+4),
  ul + hr ~ pre a:link,
  ul + hr ~ pre a:visited
    {
        text-decoration : underline !important;
                  color : #252B2C   !important;
    }

/* Shrink font face of email meta-data display and change styling of
   thread navigation links-text. */
  body table:first-of-type,
  body table:last-of-type
    {
             font-size : small !important;
      background-color : rgba(48,48,98,90) !important;
                 color : #A97  !important;
    }

  body table:first-of-type
    {
              position : relative !important; top: 60pt !important; /*  right : 2% !important; */
                float  : right;
               z-index : 90;
    }
  body table:last-of-type
    {
              position : relative !important; left : 56% !important; bottom : 4.0em ;
               z-index : 1;
         margin-bottom : -8.5em !important;
    }
  body table:first-of-type   a:link,
  body table:last-of-type    a:link,
  body table:first-of-type  a:visited,
  body table:last-of-type   a:visited
    {
                 color : rgb(228,154,94)  !important;
       text-decoration : none     !important;
               z-index : 4 !important;
    }

}
/*
License: this code may be used only under the terms of the null-warranty
  expressed below, and it may be copied and modified and redistributed only
  under the terms of the Artistic License or the Gnu General Public License
  (GPL v.3 or better), as per your choice.

    THERE IS NO WARRANTY FOR THE PROGRAM, TO THE EXTENT PERMITTED BY
    APPLICABLE LAW. EXCEPT WHEN OTHERWISE STATED IN WRITING THE
    COPYRIGHT HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM “AS IS”
    WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED,
    INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
    MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE
    RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM IS WITH YOU.
    SHOULD THE PROGRAM PROVE DEFECTIVE, YOU ASSUME THE COST OF ALL
    NECESSARY SERVICING, REPAIR OR CORRECTION.
 */
